@page "/"
@using QRCoder
@using QRGenerator_BlazorWebAssembly.Services
@inject QRCodeService _qrService
@inject IJSRuntime JS

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mt-4 text-center">
            <img src="@QRImage" width="250" height="250"/>
        </div>
        <div class="col-md-6 mt-4 text-start">
            <div class="card-body">
                <div class="mb-3">
                    <label for="select-box" class="form-label">Select QR Type</label>
                    <select class="form-control" id="select-box" value="@Request.QRType" @onchange="OnSelectChange">
                        @foreach (var qr in Enum.GetValues<EnumQrType>())
                        {
                            <option value="@qr">@qr</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label for="qr-value" class="form-label">QR Value</label>
                    <input type="text" @onchange="OnInputChange" value="@Request.QRValue" class="form-control" id="qr-value">
                </div>
                <div class="mb-3">
                    <label for="white-color" class="form-label">QR Color</label>
                    <div class="row">
                        <div class="col-3">
                            <input type="color" style="height: 100%;" @onchange="OnWhiteColorHexChange" value="@Request.WhiteColorHex" class="form-control" id="white-color">
                        </div>
                        <div class="col-9">
                            <input type="text" @onchange="OnWhiteColorHexChange" value="@Request.WhiteColorHex" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="dark-color" class="form-label">Background Color</label>
                    <div class="row">
                        <div class="col-3">
                            <input type="color" style="height: 100%;" @onchange="OnDarkColorHexChange" value="@Request.DarkColorHex" class="form-control" id="dark-color">
                        </div>
                        <div class="col-9">
                            <input type="text" @onchange="OnDarkColorHexChange" value="@Request.DarkColorHex" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="logo" class="form-label">Logo</label>
                    <InputFile accept="image/jpeg" OnChange="OnLogoChange"
                               multiple class="form-control" id="logo"/>
                </div>
                <button type="button" @onclick="DownloadImage" class="btn btn-primary">Download</button>
            </div>
        </div>
    </div>
</div>

@code{

    private QRCodeRequestModel Request { get; set; } = new();
    private IBrowserFile? LoadedFile { get; set; }
    private string? QRImage { get; set; }
    private byte[]? QRByte { get; set; }
    private const int MaxAllowedFileCount = 1;

    protected override void OnInitialized()
    {
        Request ??= new();
        GenerateQR();
    }

    private void OnSelectChange(ChangeEventArgs e)
    {
        var value = e?.Value?.ToString() ?? EnumQrType.Text.ToString();
        Request.QRType = value!.ToEnum<EnumQrType>();
        GenerateQR();
    }

    private void OnInputChange(ChangeEventArgs e)
    {
        Request.QRValue = e?.Value?.ToString()!;
        GenerateQR();
    }

    private void OnWhiteColorHexChange(ChangeEventArgs e)
    {
        Request.WhiteColorHex = e?.Value?.ToString()!;
        GenerateQR();
    }

    private void OnDarkColorHexChange(ChangeEventArgs e)
    {
        Request.DarkColorHex = e?.Value?.ToString()!;
        GenerateQR();
    }

    private async Task OnLogoChange(InputFileChangeEventArgs e)
    {
        int maxSize = 1024 * 1024 * 5;
        LoadedFile = e.GetMultipleFiles(MaxAllowedFileCount).FirstOrDefault();
        if (LoadedFile?.Size > maxSize)
        {
            return;
        }

        var fileInByte = await GetBytesFromFile(LoadedFile);
        var logo = new SvgQRCode.SvgLogo(fileInByte);
        Request.Logo = logo;
        GenerateQR();
    }

    private void GenerateQR()
    {
        var response = _qrService.GenerateQR(Request);
        QRImage = string.Format("data:image/svg+xml;base64,{0}", response?.Base64String);
        QRByte = response?.ByteData;
    }

    private async Task<byte[]> GetBytesFromFile(IBrowserFile file, int maxSize = 1024 * 1024 * 5)
    {
        var fileStream = file.OpenReadStream();
        var ms = new MemoryStream();
        await fileStream.CopyToAsync(ms);
        return ms.ToArray();
    }

    private async Task DownloadImage()
    {
        if (QRByte is null) return;
        var fileStream = new MemoryStream(QRByte);
        var fileName = "QRCode.svg";
        using var streamRef = new DotNetStreamReference(stream: fileStream);
        await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
    }

}